<div class="header">
    <p style="float:left">NRP PORTAL</p> 
    <div class="dropdown">
        <a class="notifs" id="notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="assets/notification_off.png"> 
        </a>
        <div class="dropdown-menu" aria-labelledby="notifications">
            <a class="dropdown-item" href="#">no notifications</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="notifs" id="messages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right:20px">
            <img src="assets/msg_on.png"> 
        </a>
        <div class="dropdown-menu" aria-labelledby="messages">
            <a class="dropdown-item" href="#">new message</a>
            <a class="dropdown-item" href="#">new message</a>
            <a class="dropdown-item" href="#">new message</a>
        </div>
    </div>
</div>

<div class="menu">
    <a href=""><p align="center">menu</p></a>
</div>

<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <img class="profile" src="assets/profile.png" align="center">
            <p align="center">Phumie Nevhutala</p>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="dashboard">
                    <img src="assets/home.png" class="icons">
                    Home
                </a>
            </li>
            <li>
                <a href="/admin/employees">
                    <img src="assets/employees.png" class="icons">
                    Employees
                </a>
            </li>
            <li>
                <a href="/admin/clients">
                    <img src="assets/client.png" class="icons">
                    Clients
                </a>
            </li>
            <li>
                <a href="/admin/suppliers">
                    <img src="assets/supplier.png" class="icons">
                    Suppliers
                </a>
            </li>
            <li>
                <a href="login"> 
                    <img src="assets/logout.png" class="icons">
                    Sign out
                </a>
            </li>
        </ul>
    </nav>

    <div id="content">
        <nav class="navbar" style="background-color: #fff;">
            <div class="container-fluid">
                <p style="color:#00cc00; margin-top:10px;">ADMIN</p> 
            </div>
        </nav>

        <div class="card" style="padding: 20px; border: none; width: calc(100% - 5px);">
            <h4 align="center" style="padding: 20px">ADMIN PANEL</h4>
            <div class="card" style="border: 1px solid #ffb142;">
                <div class="card-body" style="background-color:#ffb142">
                    <a href="/admin/employees" class="card-title" align="center">
                        <img src="assets/employees.png" class="img">
                    </a>
                </div>
                <div class="footer">
                    <a href="/admin/employees" align="center">
                        <h6>EMPLOYEES</h6>
                    </a>
                </div>
            </div> 
            
            <div class="card" style="border: 1px solid #227093;">
                <div class="card-body" style="background-color:#227093;">
                    <a href="/admin/clients" class="card-title" align="center">
                        <img src="assets/client.png" class="img">
                    </a>
                </div>
                <div class="footer">
                    <a href="/admin/clients" align="center">
                        <h6>CLIENTS</h6>
                    </a>
                </div>
            </div> 

            <div class="card" style="border: 1px solid #F82E2E;">
                <div class="card-body" style="background-color:#F82E2E;">
                    <a href="/admin/suppliers" class="card-title" align="center">
                        <img src="assets/supplier.png" class="img">
                    </a>
                </div>
                <div class="footer">
                    <a href="/admin/suppliers" align="center">
                        <h6>SUPPLIERS</h6>
                    </a>
                </div>
            </div>

            <h4 align="center" style="padding: 20px; margin-top: 10px;">UPDATES</h4>
            <div class="card" style="border: 1px solid #6DE03F">
                <p>[23-11-18] Employee: Phumie Nevhutalu requested access to Finance Section of dashboard</p>
                <p>[23-11-18] Client: Thomas Mbele (FNB) posted feedback on paint job porject.</p>
            </div> 
        </div>  
    </div> 
</div>