<div class="header">
  <p style="float:left">NRP PORTAL</p> 
  <div class="dropdown">
      <a class="notifs" id="notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="assets/notification_off.png"> 
      </a>
      <div class="dropdown-menu" aria-labelledby="notifications">
          <a class="dropdown-item" href="#">no notifications</a>
      </div>
  </div>
  <div class="dropdown">
      <a class="notifs" id="messages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right:20px">
          <img src="assets/msg_on.png"> 
      </a>
      <div class="dropdown-menu" aria-labelledby="messages">
          <a class="dropdown-item" href="#">new message</a>
          <a class="dropdown-item" href="#">new message</a>
          <a class="dropdown-item" href="#">new message</a>
      </div>
  </div>
</div>

<div class="menu">
  <a href=""><p align="center">menu</p></a>
</div>

<div class="wrapper">
  <nav id="sidebar">
      <div class="sidebar-header">
          <img class="profile" src="assets/profile.png" align="center">
          <p align="center">Phumie Nevhutala</p>
      </div>

      <ul class="list-unstyled components">
          <li>
              <a href="dashboard.html">
                  <img src="assets/home.png" class="icons">
                  Home
              </a>
          </li>
          <li>
              <a href="projects.html">
                  <img src="assets/project.png" class="icons">
                  Projects
              </a>
          </li>
          <li>
              <a href="rfqs.html">
                  <img src="assets/quote.png" class="icons">
                  RFQs
              </a>
          </li>
          <li>
              <a href="quotes.html">
                  <img src="assets/quote.png" class="icons">
                  Quotes
              </a>
          </li>
          <li>
              <a href="reports.html">
                  <img src="assets/report.png" class="icons">
                  Reports
              </a>
          </li>
          <li>
              <a href="finance.html">
                  <img src="assets/finance.png" class="icons">
                  Finance
              </a>
          </li>
          <li>
              <a href="admin.html">
                  <img src="assets/admin.png" class="icons">
                  Admin
              </a>
          </li>
          <li>
              <a href="#"> 
                  <img src="assets/logout.png" class="icons">
                  Sign out
              </a>
          </li>
      </ul>
  </nav>

  <div id="content">
      <nav class="navbar" style="background-color: #fff;">
          <div class="container-fluid">
              <p style="color:#00cc00; margin-top:10px;">PROJECTS</p> 
          </div>
      </nav>

      <div class="list">
          <h6 align="center"><b>NEW PROJECT</b></h6>
          <br>
          <div class="tab-content" id="myTabContent" style="margin-top: 10px; margin-left: 10px">
              <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                  <form>
                      <div class="form-group row">
                          <label for="inputEmail3" class="col-sm-2 col-form-label">Project Name</label>
                          <div class="col-sm-10">
                              <input type="text" class="form-control" placeholder="Name">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label for="inputEmail3" class="col-sm-2 col-form-label">Start Date</label>
                          <div class="col-sm-10">
                              <input type="text" class="form-control" placeholder="(dd-mm-yyyy)">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label for="inputEmail3" class="col-sm-2 col-form-label">End Date</label>
                          <div class="col-sm-10">
                              <input type="text" class="form-control" placeholder="(dd-mm-yyyy)">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label for="inputEmail3" class="col-sm-2 col-form-label">Facility</label>
                          <div class="col-sm-10">
                          <input type="text" class="form-control" placeholder="facility">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
                          <div class="col-sm-10">
                              <input type="text" class="form-control" placeholder="Description">
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="col-sm-10">
                              <button type="submit" class="btn btn-primary">Create Project</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>