<div class="header">
    <p style="float:left">NRP PORTAL</p> 
  <div class="dropdown">
      <a class="notifs" id="notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="assets/notification_off.png"> 
      </a>
      <div class="dropdown-menu" aria-labelledby="notifications">
          <a class="dropdown-item" href="#">no notifications</a>
      </div>
  </div>
  <div class="dropdown">
      <a class="notifs" id="messages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right:20px">
          <img src="assets/msg_on.png"> 
      </a>
      <div class="dropdown-menu" aria-labelledby="messages">
          <a class="dropdown-item" href="#">new message</a>
          <a class="dropdown-item" href="#">new message</a>
          <a class="dropdown-item" href="#">new message</a>
      </div>
  </div>
  </div>
  
  <div class="menu">
    <a href=""><p align="center">menu</p></a>
  </div>
  <div class="wrapper">
  <nav id="sidebar">
      <div class="sidebar-header">
          <img class="profile" src="assets/profile.png" align="center">
          <p align="center">Phumie Nevhutala</p>
      </div>
  
      <ul class="list-unstyled components">
          <li>
              <a href="dashboard">
                  <img src="assets/home.png" class="icons">
                  Home
              </a>
          </li>
          <li>
              <a href="projects">
                  <img src="assets/project.png" class="icons">
                  Projects
              </a>
          </li>
          <li>
              <a href="rfqs">
                  <img src="assets/quote.png" class="icons">
                  RFQs
              </a>
          </li>
          <li>
              <a href="quotes">
                  <img src="assets/quote.png" class="icons">
                  Quotes
              </a>
          </li>
          <li>
              <a href="reports">
                  <img src="assets/report.png" class="icons">
                  Reports
              </a>
          </li>
          <li>
              <a href="finance">
                  <img src="assets/finance.png" class="icons">
                  Finance
              </a>
          </li>
          <li>
              <a href="admin">
                  <img src="assets/admin.png" class="icons">
                  Admin
              </a>
          </li>
          <li>
              <a href="login"> 
                  <img src="assets/logout.png" class="icons">
                  Sign out
              </a>
          </li>
      </ul>
  </nav>
  
  <div id="content">
      <nav class="navbar" style="background-color: #fff;">
          <div class="container-fluid">
              <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" placeholder="search" aria-label="Search" style="border: 1px solid #d9d9d9; background-color:none; width: 170px; border-radius: 10px;">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="border:none;">
                      <img src="assets/search.png" height="20" width="20" style="opacity:0.5">
                  </button>
              </form>
              <p style="color:#00cc00; margin-top:10px;">PROJECTS</p> 
          </div>
      </nav>
  
      <div class="list">
          <h5 align="center">PROJECTS LIST</h5>
          <nav class="status-bar">
              <div class="container-fluid" style="padding: 10px;">
                  <ul>
                      <li>
                          <img src="assets/complete.png">
                      </li>
                      <li><p>COMPLETE</p></li>
                      <li>
                          <img src="assets/progress.png">
                      </li>
                      <li><p>IN PROGRESS</p></li>
                      <li>
                          <img src="assets/overdue.png">
                      </li>
                      <li><p>OVERDUE</p></li>
                      <li>
                          <img src="assets/pending.png">
                      </li>
                      <li><p>PENDING</p></li>
  
                      <li style="float: right;">
                          <button>
                              <img src="assets/filter.png">
                          </button>
                      </li>
                      <li style="float: right;">
                          <button>
                              <img src="assets/sort.png">
                          </button>
                      </li>
                  </ul>
              </div>
          </nav>
          <form>
              <button type="button" class="btn btn-danger" style="margin-top:10px">
                  <a href="projects/new-project">Add Project  +</a>
              </button>
          </form>
          <table class="table table-hover" style="margin-top: 10px; width: 100%;">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Names</th>
                      <th scope="col">Start</th>
                      <th scope="col">End</th>
                      <th>Status</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <td><a href="projects/:id">id</a></td>
                    <td><a href="projects/:id">name</a></td>
                    <td><a href="projects/:id">start</a></td>
                    <td><a href="projects/:id">end</a></td>
                    <td>status</td>
                  </tr>
                  <tr>
                    <td><a href="projects/:id">id</a></td>
                    <td><a href="projects/:id">name</a></td>
                    <td><a href="projects/:id">start</a></td>
                    <td><a href="projects/:id">end</a></td>
                    <td>status</td>
                    </tr>
                <tr>
                    <td><a href="project-view">id</a></td>
                    <td><a href="project-view">name</a></td>
                    <td><a href="project-view">start</a></td>
                    <td><a href="project-view">end</a></td>
                    <td>status</td>
                </tr>
                  <!-- <tr *ngFor="let project of projects"
                  [class.selected]="project === selectedProject"
                  (click)="onSelect(project)">
                      <td>
                          <a href="project-view">{{project.id}}</a>
                      </td>
                      <td>
                          <a href="project-view">{{project.name}}</a>
                      </td>
                      <td>start</td>
                      <td>end</td>
                      <td>status</td>
                  </tr> -->
              </tbody>
          </table>
      </div>
  </div>
  
  <!-- <script>
      $('a').click(function(){
          sessionStorage.setItem('project', {{project.name}})
      });
  </script> -->